@page "/analyzeInfo"
@page "/analyzeInfo/{analyzeId}"
@using Data
@using Microsoft.JSInterop
@inject WaterAnalyzeContext WaterAnalyzeContext
@inject IJSRuntime JSRuntime

<PageTitle>Главная</PageTitle>



<MudCard Elevation="5" Style="display: flex; width: 90%; border-radius: 15px; margin-left: auto;margin-right: auto; margin-top: 1%;">
<MudGrid >
	<MudItem xs="6">
			<MudPaper Elevation="5" Style="border-radius: 10px; background-color: #4f97c2; margin-left: 2%; margin-right: 2%; margin-top: 2%">
@* 			@if (sourceTitle == null)
			{
				<MudImage Src='/img/colb.jpg' Style=" object-fit: cover; overflow:hidden; height: 400px; width: 100%; border-radius: 10px;"></MudImage>
			}
			else
			{ *@
				<div id="map"></div>
@* 			} *@
		</MudPaper>
	</MudItem>
	<MudItem xs="6" >
			@if (newOne)
			{
				<MudCard Elevation="5" Style="background-color: #e5e5e5; border-radius: 10px; margin: 2%;">
					<div Class="d-flex mx-auto" style="display: inline-block; padding: 1%;">
						<MudSelect Value="@sourceType" T="String" Label="Иточник:" ValueChanged="TypeChange" Style="font-size: 16px; margin: 0; margin-bottom: 10px">
							@foreach (var indic in sourceTypes)
							{
								<MudSelectItem Value="@indic.Title" />
							}
						</MudSelect>
						<MudSelect Value="@sourceTitle" T="String" Label="Точка отбора:" ValueChanged="SourceChange" Style="font-size: 16px; margin: 0; margin-bottom: 10px">
							@foreach (var indic in sourceTitles)
							{
								<MudSelectItem Value="@indic.Title" />
							}
						</MudSelect>
					</div>
					<MudDatePicker Label="Дата отбора:" Editable="true" @bind-Date="date" Placeholder="Выберите дату" Style="padding: 1%;" />
					<MudSelect Value="@sampleValue" Label="Объем" T="String" ValueChanged="SampleChange" Style="padding: 1%;font-size: 16px; margin: 0; margin-bottom: 10px">
						@foreach (var indic in sampleValues)
						{
							<MudSelectItem Value
							="@indic.Value" />
						}
					</MudSelect>
				</MudCard>
			}
			else{
				<MudCard Elevation="5" Style="background-color: #e5e5e5; border-radius: 10px; margin: 2%;">
					<div Class="d-flex mx-auto" style="display: inline-block; padding: 1%;">
						<MudText>@source.Title</MudText>
					</div>
					
				</MudCard>
			}
			@if (!newOne)
			{
				<div Class="d-flex mx-auto" style="display: inline-block;">
					<MudButton Variant="Variant.Outlined" Color="Color.Primary" Class="d-flex mx-auto" Style="margin: 15px; font-size: 16px; width: 30%; box-shadow: rgb(38, 57, 77) 0px 3px 3px -3px;">
						Удалить
					</MudButton>
				</div>
			}
			else
			{
				<MudButton Variant="Variant.Outlined" Color="Color.Primary" Class="d-flex mx-auto" Style="margin: 15px; font-size: 16px; width: 30%; box-shadow: rgb(38, 57, 77) 0px 3px 3px -3px;">
					Сохранить
				</MudButton>
			}
	</MudItem>
	@if (newOne)
	{
		<MudPagination Style="margin: auto" @bind-Selected="@_selected" Class="d-flex mx-auto" Variant="Variant.Filled" Count="8" />
	}
	<MudItem xs="12" Style="overflow:scroll; height: 170px; margin-top: 1px">
		@if (newOne)
		{
				@if (_selected == 1)
				{
					<MudText Style="margin-left: 1%">Хлориды <MudButton Color ="Color.Primary" OnClick="@(()=> chlorideView = false)" Style="font-size: 10px; ">Свернуть</MudButton> <MudButton OnClick="@(()=> chlorideView = true)" Color="Color.Primary" Style="font-size: 10px;">Развернуть</MudButton></MudText>
					@if (chlorideView)
					{
						<MudPaper Style="display: inline-block; margin-left: 1%" Class="d-flex mx-auto">
							<MudTextField ValueChanged="ChlorideChange" @bind-Text="firstChloride" T="String" Label="Объем раствора нитрата ртути, пошедший на титрование(первое значение)" Variant="Variant.Outlined" Style="font-size: 12px; " />
							<MudTextField ValueChanged="ChlorideChange" @bind-Text="secondChloride" T="String" Label="Объем раствора нитрата ртути, пошедший на титрование(второе значение)" Variant="Variant.Outlined" Style="font-size: 12px; " />
							<MudTextField ValueChanged="ChlorideChange" @bind-Text="thirdChloride" T="String" Label="Молярная концентрация эквивалента раствора" Variant="Variant.Outlined" Style="font-size: 12px; " />
							<MudTextField @bind-Value="resultChloride" T="String" Label="Результат" Variant="Variant.Outlined" Style="font-size: 12px; " />

						</MudPaper>
						@if (resultChloride != null && resultChloride != "0" && Math.Abs(Convert.ToDouble(firstChlorideRes) - Convert.ToDouble(secondChlorideRes)) > 0.1 * Convert.ToDouble(resultChloride))
						{
							<MudText>Анализ необходимо переделать, значения неверные</MudText>
						}
					}
				}
				if (_selected == 2)
				{
					<MudText Style="margin-left: 1%">Гидрокарбонаты <MudButton Color="Color.Primary" OnClick="@(()=> gidrocorbonatView = false)" Style="font-size: 10px; ">Свернуть</MudButton> <MudButton OnClick="@(()=> gidrocorbonatView = true)" Color="Color.Primary" Style="font-size: 10px;">Развернуть</MudButton></MudText>
					@if (gidrocorbonatView)
					{
						<MudPaper Style="display: inline-block;" Class="d-flex mx-auto">
							<MudTextField ValueChanged="GidrocorbonatChange" @bind-Text="firstGidrocorbonat" T="String" Label="Объем раствора кислоты(первое значение)" Variant="Variant.Outlined" Style="font-size: 12px; " />
							<MudTextField ValueChanged="GidrocorbonatChange" @bind-Text="secondGidrocorbonat" T="String" Label="Объем раствора буры(первое значение)" Variant="Variant.Outlined" Style="font-size: 12px; " />
							<MudTextField ValueChanged="GidrocorbonatChange" @bind-Text="thirdGidrocorbonat" T="String" Label="Объем раствора кислоты(второе значение)" Variant="Variant.Outlined" Style="font-size: 12px; " />
							<MudTextField ValueChanged="GidrocorbonatChange" @bind-Text="fourthGidrocorbonat" T="String" Label="Объем раствора буры(второе значение)" Variant="Variant.Outlined" Style="font-size: 12px; " />
							<MudTextField @bind-Value="resultGidrocorbonat" T="String" Label="Результат" Variant="Variant.Outlined" Style="font-size: 12px; " />
						</MudPaper>

						@if (resultGidrocorbonat != null && resultGidrocorbonat != "0" && ((200 * Math.Abs(Convert.ToDouble(firstGidrocorbonatRes) - Convert.ToDouble(secondGidrocorbonatRes))) / Convert.ToDouble(firstGidrocorbonatRes) + Convert.ToDouble(secondGidrocorbonatRes)) > 8)
						{
							<MudText>Анализ необходимо переделать, значения неверные</MudText>
						}
					}
				}
				@if (_selected == 3)
				{
					<MudText Style="margin-left: 1%">
						Сульфаты <MudButton Color="Color.Primary" OnClick
						="@(()=> sulfatView = false)" Style
						="font-size: 10px; ">Свернуть</MudButton> <MudButton OnClick
						="@(()=> sulfatView = true)" Color
						="Color.Primary" Style
						="font-size: 10px;">Развернуть</MudButton></MudText>
					@if (sulfatView)
					{
						<MudPaper Style
						="display: inline-block;" Class
						="d-flex mx-auto">
							<MudTextField ValueChanged="SulfatChange" @bind-Text="firstSulfat" T="String" Label="Коэф(первое значение)" Variant="Variant.Outlined" Style="font-size: 12px; " />
							<MudTextField ValueChanged="SulfatChange" @bind-Text="secondSulfat" T="String" Label="Коэф(второе значение)" Variant="Variant.Outlined" Style="font-size: 12px; " />
							<MudTextField @bind-Value="resultSulfat" T="String" Label="Результат" Variant="Variant.Outlined" Style="font-size: 12px; " />
						</MudPaper>

						@if (resultSulfat != null && resultSulfat != "0" && (Math.Abs(Convert.ToDouble(firstSulfatRes) - Convert.ToDouble(secondSulfatRes))) > (17 * (Convert.ToDouble(firstSulfatRes) + Convert.ToDouble(secondSulfatRes))) / 200 && (Math.Abs(Convert.ToDouble(firstSulfatRes) - Convert.ToDouble(secondSulfatRes))) > (11 * (Convert.ToDouble(firstSulfatRes) + Convert.ToDouble(secondSulfatRes))) / 200)
						{
							<MudText>Анализ необходимо переделать, значения неверные</MudText>
						}
					}
				}
				@if (_selected == 4)
				{
					<MudText Style="margin-left: 1%">Кальций <MudButton Color="Color.Primary" OnClick="@(()=> calciyView = false)" Style="font-size: 10px; ">Свернуть</MudButton> <MudButton OnClick="@(()=> calciyView = true)" Color="Color.Primary" Style="font-size: 10px;">Развернуть</MudButton></MudText>
					@if (calciyView)
					{
						<MudPaper Style
						="display: inline-block;" Class
						="d-flex mx-auto">
							<MudTextField ValueChanged="CalciyChange" @bind-Text="firstCalciy" T="String" Label="Объем раствора трилона(первое значение)" Variant="Variant.Outlined" Style="font-size: 12px; " />
							<MudTextField ValueChanged="CalciyChange" @bind-Text="secondCalciy" T="String" Label="Объем раствора трилона(второе значение)" Variant="Variant.Outlined" Style="font-size: 12px; " />
							<MudTextField @bind-Value="resultCalciy" T="String" Label="Результат" Variant="Variant.Outlined" Style="font-size: 12px; " />
						</MudPaper>

						@if (resultCalciy != null && resultCalciy != "0" && ((Math.Abs(Convert.ToDouble(firstCalciyRes) - Convert.ToDouble(secondCalciyRes))) / Convert.ToDouble(firstCalciyRes) + Convert.ToDouble(secondCalciyRes)) * 200 > 8)
						{
							<MudText>Анализ необходимо переделать, значения неверные</MudText>
						}

					}
				}
				if (_selected == 5)
				{
					<MudText Style="margin-left: 1%">Магний <MudButton Color="Color.Primary" OnClick="@(()=> magniyView = false)" Style="font-size: 10px; ">Свернуть</MudButton> <MudButton OnClick="@(()=> magniyView = true)" Color="Color.Primary" Style="font-size: 10px;">Развернуть</MudButton></MudText>
					@if (magniyView)
					{
						@* <MudPaper Style="display: inline-block;" Class="d-flex mx-auto">
					<MudTextField ValueChanged="PHChange" @bind-Text="firstPH" T="String" Label="Первое значение" Variant="Variant.Outlined" Style="font-size: 12px; " />
					<MudTextField ValueChanged="PHChange" @bind-Text="secondPH" T="String" Label="Второе значение" Variant="Variant.Outlined" Style="font-size: 12px; " />
					<MudTextField @bind-Value="resultPH" T="String" Label="Результат" Variant="Variant.Outlined" Style="font-size: 12px; " />

				</MudPaper> *@
					}
				}
				@if (_selected == 6)
				{
					<MudText Style="margin-left: 1%">PH <MudButton Color
						="Color.Primary" OnClick
						="@(()=> phView = false)" Style
						="font-size: 10px; ">Свернуть</MudButton> <MudButton OnClick
						="@(()=> phView = true)" Color
						="Color.Primary" Style
						="font-size: 10px;">Развернуть</MudButton></MudText>
					@if (phView)
					{
						<MudPaper Style
						="display: inline-block;" Class
						="d-flex mx-auto">
							<MudTextField ValueChanged="PHChange" @bind-Text="firstPH" T="String" Label="Первое значение" Variant="Variant.Outlined" Style="font-size: 12px; " />
							<MudTextField ValueChanged="PHChange" @bind-Text="secondPH" T="String" Label="Второе значение" Variant="Variant.Outlined" Style="font-size: 12px; " />
							<MudTextField @bind-Value="resultPH" T="String" Label="Результат" Variant="Variant.Outlined" Style="font-size: 12px; " />

						</MudPaper>
						@if (resultPH != null && resultPH != "0" && Math.Abs(Convert.ToDouble(firstPH) - Convert.ToDouble(secondPH)) > 0.2)
						{
							<MudText>Анализ необходимо переделать, значения неверные</MudText>
						}
					}
				}
				if (_selected == 7)
				{
					<MudText Style="margin-left: 1%">Нефтепродукты <MudButton Color="Color.Primary" OnClick="@(()=> oilView = false)" Style="font-size: 10px; ">Свернуть</MudButton> <MudButton OnClick="@(()=> oilView = true)" Color="Color.Primary" Style="font-size: 10px;">Развернуть</MudButton></MudText>
					@if (oilView)
					{
						<MudPaper Style
						="display: inline-block;" Class
						="d-flex mx-auto">
							<MudTextField ValueChanged="OilChange" @bind-Text="firstOil" T="String" Label="Концентрация НП" Variant="Variant.Outlined" Style="font-size: 12px; " />
							<MudTextField ValueChanged="OilChange" @bind-Text="secondOil" T="String" Label="Объем пробы" Variant="Variant.Outlined" Style="font-size: 12px; " />
							<MudTextField @bind-Value="resultOil" T="String" Label="Результат" Variant="Variant.Outlined" Style="font-size: 12px; " />
						</MudPaper>
					}
				}
				@if (_selected == 8)
				{
					<MudText Style="margin-left: 1%">
						Жесткость <MudButton Color="Color.Primary" OnClick
						="@(()=> hardnessView = false)" Style
						="font-size: 10px; ">Свернуть</MudButton> <MudButton OnClick
						="@(()=> hardnessView = true)" Color
						="Color.Primary" Style
						="font-size: 10px;">Развернуть</MudButton></MudText>
					@if (hardnessView)
					{
						<MudPaper Style="display: inline-block;" Class="d-flex mx-auto">
							<MudTextField ValueChanged="HardnessChange" @bind-Text="firstHardness" T="String" Label="Объем раствора трилона(первое значение)" Variant="Variant.Outlined" Style="font-size: 12px; " />
							<MudTextField ValueChanged="HardnessChange" @bind-Text="secondHardness" T="String" Label="Объем раствора трилона(второе значение)" Variant="Variant.Outlined" Style="font-size: 12px; " />
							<MudTextField @bind-Value="resultHardness" T="String" Label="Результат" Variant="Variant.Outlined" Style="font-size: 12px; " />
						</MudPaper>

						@if (resultHardness != null && resultHardness != "0" && ((Math.Abs(Convert.ToDouble(firstHardnessRes) - Convert.ToDouble(secondHardnessRes))) / Convert.ToDouble(firstHardnessRes) + Convert.ToDouble(secondHardnessRes)) * 200 > 6)
						{
							<MudText>Анализ необходимо переделать, значения неверные</MudText>
						}
					}
				}

		}
		else
		{
					
				<MudTd DataLabel="Дата отбора">@analyze.DateOfSelection.Value.ToShortDateString()</MudTd>
				<MudTd DataLabel="Дата проведения">@analyze.Date.Value.ToShortDateString()</MudTd>
			<MudTd DataLabel="PH">@analyze.AcidityIndex</MudTd>
			<MudTd DataLabel="Общая жесткость">@analyze.Hardness</MudTd>
				<MudTd DataLabel="Cl">@analyze.Сhloride</MudTd>
				<MudTd DataLabel="HCO3">@analyze.Gidrocorbonat</MudTd>
				<MudTd DataLabel="SO4">@analyze.Sulfate</MudTd>
				<MudTd DataLabel="Ca">@analyze.Calcium</MudTd>
				<MudTd DataLabel="Mg">@analyze.Magnesium</MudTd>
				<MudTd DataLabel="Нефть">@analyze.Oil</MudTd>
					
		}
		@* <div>
			@if (CurrentUser.CurrentUserData != null)
			{
				if (CurrentUser.CurrentUserData.RoleId == 2)
				{
					<MudButton Color="Color.Primary" Href="/analyzeInfo" Style="margin-bottom: 2%;">Добавить анализ</MudButton>
				}
			}

			@if (Elements.Count != 0)
			{
				<MudTable Items="@Elements.Take(1)" Hover="true" Breakpoint="Breakpoint.Sm" Loading="@_loading" LoadingProgressColor="Color.Info">
					<HeaderContent>
						<MudTh>Дата отбора</MudTh>
						<MudTh>Дата проведения</MudTh>
						<MudTh>PH</MudTh>
						<MudTh>Общая жесткость</MudTh>
						<MudTh>Cl (мг/л)</MudTh>
						<MudTh>HCO3 (мг/л)</MudTh>
						<MudTh>SO4 (мг/л)</MudTh>
						<MudTh>Ca (мг/л)</MudTh>
						<MudTh>Mg (мг/л)</MudTh>
						<MudTh>Нефть (мг/л)</MudTh>
					</HeaderContent>
					<RowTemplate>
						<MudTd DataLabel="Дата отбора">@context.DateOfSelection.Value.ToShortDateString()</MudTd>
						<MudTd DataLabel="Дата проведения">@context.Date.Value.ToShortDateString()</MudTd>
						<MudTd DataLabel="PH">@context.AcidityIndex</MudTd>
						<MudTd DataLabel="Общая жесткость">@context.Hardness</MudTd>
						<MudTd DataLabel="Cl">@context.Сhlorine</MudTd>
						<MudTd DataLabel="HCO3">@context.Bicarbonate</MudTd>
						<MudTd DataLabel="SO4">@context.Sulfate</MudTd>
						<MudTd DataLabel="Ca">@context.Calcium</MudTd>
						<MudTd DataLabel="Mg">@context.Magnesium</MudTd>
						<MudTd DataLabel="Нефть">@context.Oil</MudTd>
					</RowTemplate>
				</MudTable>
			}
		</div> *@
			
	</MudItem>
		
@*     <div Style="flex: 50%; overflow: scroll">
        <div>
            <div Class="d-flex mx-auto" style="display: inline-block;">
                <MudTextField T="String" Label="Протокол испытаний:" Variant="Variant.Outlined" Style="font-size: 16px; margin: 2%"  />
                <MudTextField T="String" Label="Направление:" Variant="Variant.Outlined" Style="font-size: 16px; margin: 2%" />
            </div>
            <MudTextField T="String" Label="Тип:" Variant="Variant.Outlined" Style=" font-size: 16px; margin: 1%"/>
        </div>
        <div>
            <MudTextField T="String" Label="Место взятия:" Variant="Variant.Outlined" Style="font-size: 16px; margin: 1%" />
            <MudTextField T="String" Label="Дата отбора:" Variant="Variant.Outlined" Style="font-size: 16px; margin: 1%"  />
            <MudTextField T="String" Label="Дата проведения:" Variant="Variant.Outlined" Style="font-size: 16px; margin: 1%" />
        </div>
        <br>
        <div Class="d-flex mx-auto" style="display: inline-block;">
            <MudButton Class="d-flex mx-auto" Style="font-size: 16px; width: 30%; box-shadow: rgb(38, 57, 77) 0px 3px 3px -3px;" Color="Color.Primary" Variant="Variant.Outlined">Заведующий</MudButton>
        </div>
        <br>
        @if (!newOne)
        {
            <div Class="d-flex mx-auto" style="display: inline-block;">
                <MudButton Variant="Variant.Outlined" Color="Color.Primary" Class="d-flex mx-auto" Style="margin: 15px; font-size: 16px; width: 30%; box-shadow: rgb(38, 57, 77) 0px 3px 3px -3px;" >
                    Сохранить
                </MudButton>
                <MudButton Variant="Variant.Outlined" Color="Color.Primary" Class="d-flex mx-auto" Style="margin: 15px; font-size: 16px; width: 30%; box-shadow: rgb(38, 57, 77) 0px 3px 3px -3px;" >
                    Удалить
                </MudButton>
            </div>
        }
        else
        {
            <MudButton Variant="Variant.Outlined" Color="Color.Primary" Class="d-flex mx-auto" Style="margin: 15px; font-size: 16px; width: 30%; box-shadow: rgb(38, 57, 77) 0px 3px 3px -3px;" >
                Сохранить
            </MudButton>
        }
    </div> *@
</MudGrid>
</MudCard>

@* <MudGrid Style="width: 60%; height: 30%;display: block;margin-left: auto;margin-right: auto; margin-top: 2%;">
    <MudItem xs="12">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">xs=12</MudPaper>
    </MudItem>
    <MudItem xs="6">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">xs=6</MudPaper>
    </MudItem>
    <MudItem xs="6">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">xs=6</MudPaper>
    </MudItem>
    
</MudGrid> *@


@code {
	[Parameter]
	public string? analyzeId { get; set; }

	private int _selected = 1;

	Source source;
	Analyze analyze;
	bool newOne;
	private bool _hidePosition;
	private bool _loading;
	private List<Analyze> Elements = new List<Analyze>();
	public string sourceType;
	public string sourceTitle;
	public string sampleValue;
	DateTime? date = DateTime.Today;

	bool chlorideView;
	bool gidrocorbonatView;
	bool sulfatView;
	bool calciyView;
	bool magniyView;
	bool phView;
	bool oilView;
	bool hardnessView;

	string firstPH;
	string secondPH;
	string resultPH;

	string firstHardness;
	string secondHardness;
	string firstHardnessRes;
	string secondHardnessRes;
	string resultHardness;

	string firstSulfat;
	string secondSulfat;
	string firstSulfatRes;
	string secondSulfatRes;
	string resultSulfat;

	string firstOil;
	string secondOil;
	string resultOil;

	string firstChloride;
	string secondChloride;
	string thirdChloride;
	string firstChlorideRes;
	string secondChlorideRes;
	string resultChloride;

	string firstCalciy;
	string secondCalciy;
	string firstCalciyRes;
	string secondCalciyRes;
	string resultCalciy;

	string firstGidrocorbonat;
	string secondGidrocorbonat;
	string thirdGidrocorbonat;
	string fourthGidrocorbonat;
	string firstGidrocorbonatRes;
	string secondGidrocorbonatRes;
	string resultGidrocorbonat;

	List<SourceType> sourceTypes = new List<SourceType>();
	List<Source> sourceTitles = new List<Source>();
	List<Sample> sampleValues = new List<Sample>();

	// protected override void OnInitialized()
	// {

	// 	if (analyzeId != null)
	// 	{
	// 		source = WaterAnalyzeContext.Sources.Where(x => x.Id == Convert.ToInt32(analyzeId)).First();
	// 		Elements = WaterAnalyzeContext.Analyzes.Where(x => x.SourceId == Convert.ToInt32(analyzeId)).ToList();
	// 		Elements.Reverse();
	// 	}
	// }

	protected override async System.Threading.Tasks.Task OnAfterRenderAsync(bool firstRender)
	{


		if (analyzeId != null)
		{
			analyze = WaterAnalyzeContext.Analyzes.Where(x => x.Id == Convert.ToInt32(analyzeId)).First();
			source = WaterAnalyzeContext.Sources.Where(x => x.Id == analyze.SourceId).First();
			// Elements = WaterAnalyzeContext.Analyzes.Where(x => x.SourceId == Convert.ToInt32(analyzeId)).ToList();
			// Elements.Reverse();

			if (firstRender)
			{
				await JSRuntime.InvokeVoidAsync("start", source.CoordinatesX, source.CoordinatesY);
			}
		}


	}

	protected override void OnInitialized()
	{
		newOne = true;
		sourceTypes = WaterAnalyzeContext.SourceTypes.ToList();
		sampleValues = WaterAnalyzeContext.Samples.ToList();

		if (analyzeId != null)
		{
			newOne = false;
			analyze = WaterAnalyzeContext.Analyzes.Where(x => x.Id == Convert.ToInt32(analyzeId)).First();
			source = WaterAnalyzeContext.Sources.Where(x => x.Id == analyze.SourceId).First();

		}
	}

	public void SulfatChange()
	{

		if (firstSulfat != "" && secondSulfat != "")
		{
			firstSulfatRes = ((1000 * Convert.ToDouble(firstSulfat)) / 10).ToString();
			secondSulfatRes = ((1000 * Convert.ToDouble(secondSulfat)) / 10).ToString();
			resultSulfat = ((Convert.ToDouble(firstSulfatRes) + Convert.ToDouble(secondSulfatRes)) / 2).ToString();
		}
	}

	public void GidrocorbonatChange()
	{

		if (firstGidrocorbonat != "" && secondGidrocorbonat != "" && thirdGidrocorbonat != "" && fourthGidrocorbonat != "")
		{
			firstGidrocorbonatRes = ((61.02 * (Convert.ToDouble(firstGidrocorbonat) * 0.05 - 2 * Convert.ToDouble(secondGidrocorbonat) * 0.05) * 1000) / 100).ToString();
			secondGidrocorbonatRes = ((61.02 * (Convert.ToDouble(thirdGidrocorbonat) * 0.05 - 2 * Convert.ToDouble(fourthGidrocorbonat) * 0.05) * 1000) / 100).ToString();
			resultGidrocorbonat = ((Convert.ToDouble(firstGidrocorbonatRes) + Convert.ToDouble(secondGidrocorbonatRes)) / 2).ToString();
		}
	}

	public void ChlorideChange()
	{

		if (firstChloride != "" && secondChloride != "" && thirdChloride != "")
		{
			firstChlorideRes = (((Convert.ToDouble(firstChloride) - 0.10) * Convert.ToDouble(thirdChloride) * 35.45 * 1000) / 100).ToString();
			secondChlorideRes = (((Convert.ToDouble(secondChloride) - 0.10) * Convert.ToDouble(thirdChloride) * 35.45 * 1000) / 100).ToString();
			resultChloride = ((Convert.ToDouble(firstChlorideRes) + Convert.ToDouble(secondChlorideRes)) / 2).ToString();
		}
	}

	public void CalciyChange()
	{

		if (firstCalciy != "" && secondCalciy != "")
		{
			firstCalciyRes = ((40.08 * 0.01 * Convert.ToDouble(firstCalciy) * 1000) / 100).ToString();
			secondCalciyRes = ((40.08 * 0.01 * Convert.ToDouble(secondCalciy) * 1000) / 100).ToString();
			resultCalciy = ((Convert.ToDouble(firstCalciyRes) + Convert.ToDouble(secondCalciyRes)) / 2).ToString();
		}
	}

	public void OilChange()
	{

		if (firstOil != "" && secondOil != "")
		{
			resultOil = ((Convert.ToDouble(firstOil) * 10 * 1) / (Convert.ToDouble(secondOil))).ToString();
		}
	}

	public void HardnessChange()
	{

		if (firstHardness != "" && secondHardness != "")
		{
			firstHardnessRes = (50 * 0.01 * 2 * Convert.ToDouble(firstHardness)).ToString();
			secondHardnessRes = (50 * 0.01 * 2 * Convert.ToDouble(secondHardness)).ToString();
			resultHardness = ((Convert.ToDouble(firstHardnessRes) * 10 * 1) / (Convert.ToDouble(secondHardnessRes))).ToString();
		}
	}

	public void PHChange()
	{

		if (firstPH != "" && secondPH != "")
		{
			resultPH = ((Convert.ToDouble(firstPH) + Convert.ToDouble(secondPH)) / 2).ToString();
		}
	}

	public void TypeChange(string selected)
	{
		sourceType = selected;

		if (sourceType != null)
		{
			var type = WaterAnalyzeContext.SourceTypes.Where(x => x.Title == sourceType).First().Id;
			sourceTitles = WaterAnalyzeContext.Sources.Where(x => x.SourceTypeId == type).ToList();
		}
	}

	public void SourceChange(string selected)
	{
		sourceTitle = selected;

		if (sourceTitle != null)
		{
			JSRuntime.InvokeVoidAsync("deleteMap");
			var source = WaterAnalyzeContext.Sources.Where(x => x.Title == sourceTitle).First();
			JSRuntime.InvokeVoidAsync("start", source.CoordinatesX, source.CoordinatesY);
		}
	}

	public void SampleChange(string selected)
	{
		sampleValue = selected;

		// if (sourceTitle != null)
		// {
		// 	var type = WaterAnalyzeContext.Sources.Where(x => x.Id == Convert.ToInt32(analyzeId)).First().Id;
		// 	sourceTitles = WaterAnalyzeContext.Sources.Where(x => x.SourceTypeId == type).ToList();
		// }
	}


}

<style>
	body {
		background-color: #fafafa;
	}
	#map {
		width: 650px;
		height: 400px;
		padding: 0;
		margin-top: 2%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

</style>
