@page "/sourceInfo/{sourceId}"
@using Data
@using Microsoft.JSInterop
@inject WaterAnalyzeContext WaterAnalyzeContext
@inject CurrentUser CurrentUser
@inject IJSRuntime JSRuntime

<PageTitle>Главная</PageTitle>

<MudCard Elevation="5" Style="display: flex; width: 90%; border-radius: 15px; margin-left: auto;margin-right: auto; margin-top: 1%;">
<MudGrid >
	<MudItem xs="6" >
			<MudPaper Style="border-radius: 10px;  margin-left: 2%; margin-right: 2%; margin-top: 2%">
			<div id="map"></div>
		</MudPaper>
	</MudItem>
	<MudItem xs="6" >
			<MudPaper Elevation="0">
				<MudCard Elevation="5"  Style="background-color: #e5e5e5; border-radius: 10px; margin: 2%;">
					
					<MudPaper Elevation="0" Style="background-color: #e5e5e5; margin: 2%; padding: 1%;  ">
						
						<MudButton Variant="Variant.Filled" Color="Color.Secondary" Style="padding: 3%; color: black; border-radius: 10px; margin: 2%" Class="d-flex mx-auto">@source.Title</MudButton>
					</MudPaper>

				</MudCard>
				<MudCard Elevation="0" Style="display: flex;  border-radius: 10px; margin: 2%;">
					<MudPaper Elevation="0" Style="flex: 50%; ">
						<MudText Style=" margin: 1%; text-align:center">Направление</MudText>
						<MudPaper Elevation="5" Style="flex: 50%; background-color: #4f97c2; margin: 2%; height: 70px; display: flex; justify-content: center; align-items: center;">

							<MudText Style="color: white; text-align: center; font-size: 18px" @bind-Value="@WaterAnalyzeContext.Directions.Where(x => x.Id == source.DirectionId).First().Title">@WaterAnalyzeContext.Directions.Where(x => x.Id == source.DirectionId).First().Title</MudText>
						</MudPaper>
					</MudPaper>
					<MudPaper Elevation="0" Style="flex: 50%; ">
						<MudText Style=" margin: 1%; text-align:center">Время</MudText>
						<MudPaper Elevation="5" Style="flex: 50%; background-color: #e5e5e5; margin: 2%; height: 70px; display: flex; justify-content: center; align-items: center;">

							<MudText Style=" text-align: center; font-size: 18px" @bind-Value="@source.TravelTime">@source.TravelTime</MudText>
						</MudPaper>
					</MudPaper>
				</MudCard>

				<MudCard Elevation="0" Style="display: flex;  border-radius: 10px; margin: 2%;">
					<MudPaper Elevation="0" Style="flex: 50%; ">
						<MudText Style=" margin: 1%; text-align:center">Тип</MudText>
						<MudPaper Elevation="5" Style="flex: 50%; background-color: #e5e5e5; margin: 2%; height: 70px; display: flex; justify-content: center; align-items: center;">

							<MudText Style="text-align: center; font-size: 18px">@WaterAnalyzeContext.SourceTypes.Where(x => x.Id == source.SourceTypeId).First().Title</MudText>
						</MudPaper>
					</MudPaper>
					<MudPaper Elevation="0" Style="flex: 50%; ">
						<MudText Style=" margin: 1%; text-align:center">Время</MudText>
						<MudPaper Elevation="5" Style="flex: 50%; background-color: #4f97c2; margin: 2%; height: 70px; display: flex; justify-content: center; align-items: center;">

							<MudText Style="color: white; text-align: center; font-size: 18px" @bind-Value="@source.TravelTime">@source.TravelTime</MudText>
						</MudPaper>
					</MudPaper>
				</MudCard>
			
		</MudPaper>
			
	</MudItem>
	<MudItem xs="12">
		<div>
			<MudPaper Class="d-flex mx-auto">
				<MudText Style="text-align: center; margin: 1%;">Информация по последнему анализу</MudText>
				@if (CurrentUser.CurrentUserData != null)
				{
					if (CurrentUser.CurrentUserData.RoleId == 2)
					{
							@* <MudButton Class="d-flex mx-auto" Variant="Variant.Filled" Color="Color.Secondary" Style="color: black; border-radius: 10px; margin-left:5px;margin-bottom: 2%;"  Href="/analyzeInfo">Добавить анализ</MudButton> *@
					}
				}
			</MudPaper>
			@if (Elements.Count != 0)
			{
				<MudTable Elevation="5" Items="@Elements.Take(1)" Hover="true" Breakpoint="Breakpoint.Sm" Loading="@_loading" LoadingProgressColor="Color.Info">
					<HeaderContent>
						<MudTh>Дата отбора</MudTh>
						<MudTh>Дата проведения</MudTh>
						<MudTh>PH</MudTh>
						<MudTh>Общая жесткость</MudTh>
						<MudTh>Cl (мг/л)</MudTh> 
						<MudTh>HCO3 (мг/л)</MudTh>
						<MudTh>SO4 (мг/л)</MudTh>
						<MudTh>Ca (мг/л)</MudTh>
						<MudTh>Mg (мг/л)</MudTh>
						<MudTh>Нефть (мг/л)</MudTh>
					</HeaderContent>
					<RowTemplate>
						<MudTd DataLabel="Дата отбора">@context.DateOfSelection.Value.ToShortDateString()</MudTd>
						<MudTd DataLabel="Дата проведения">@context.Date.Value.ToShortDateString()</MudTd>
						<MudTd DataLabel="PH">@context.AcidityIndex</MudTd>
						<MudTd DataLabel="Общая жесткость">@context.Hardness</MudTd>
						<MudTd DataLabel="Cl">@context.Сhloride</MudTd>
						<MudTd DataLabel="HCO3">@context.Gidrocorbonat</MudTd>
						<MudTd DataLabel="SO4">@context.Sulfate</MudTd>
						<MudTd DataLabel="Ca">@context.Calcium</MudTd>
						<MudTd DataLabel="Mg">@context.Magnesium</MudTd>
						<MudTd DataLabel="Нефть">@context.Oil</MudTd>
					</RowTemplate>
				</MudTable>
			}
		</div>
	</MudItem>
</MudGrid>
</MudCard>

@* <MudGrid Style="width: 60%; height: 30%;display: block;margin-left: auto;margin-right: auto; margin-top: 2%;">
    <MudItem xs="12">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">xs=12</MudPaper>
    </MudItem>
    <MudItem xs="6">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">xs=6</MudPaper>
    </MudItem>
    <MudItem xs="6">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">xs=6</MudPaper>
    </MudItem>
    
</MudGrid> *@


@code {
	[Parameter]
	public string? sourceId { get; set; }

	Source source;

	private bool _hidePosition;
	private bool _loading;
	private List<Analyze> Elements = new List<Analyze>();

	protected override void OnInitialized()
	{
		source = WaterAnalyzeContext.Sources.Where(x => x.Id == Convert.ToInt32(sourceId)).First();
		Elements = WaterAnalyzeContext.Analyzes.Where(x => x.SourceId == Convert.ToInt32(sourceId)).ToList();
		Elements.Reverse();
	}

	protected override async System.Threading.Tasks.Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			await JSRuntime.InvokeVoidAsync("start", source.CoordinatesX, source.CoordinatesY);
		}
	}


}

<style>
	#map {
		width: 650px;
		height: 420px;
		padding: 0;
		margin-top: 2%;
		display: block;
		margin-left: auto;
		margin-right: auto;
		border-radius: 10px;
	}

	body {
		background-color: #fafafa;
	}
</style>
